@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.toggle-checkbox:checked {
    @apply: right-0 border-purple-400;
    right: 0;
    border-color: #9061f9;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-purple-400;
    background-color: #9061f9;
}
.shim-black {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.shim-black::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(233, 233, 233, 1) 0,
        rgba(233, 233, 233, 0.9) 50%,
        rgba(233, 233, 233, 0.8) 100%
    );
    animation: shimmer 2s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}
